* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;

}

.logo-img {
    width: 100%;
    height: 100%;


}

.logo-title {
    font-size: 28px;
    display: flex;
}

.travel {
    color: orangered;
}

.logo-title {
    display: flex;
    gap: 15px;
    padding: 10px;
}

.menu-bar {
    max-width: 900px;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.menu-bar>li {
    margin-right: 35px;
}

li:hover {
    color: orange;
}

.home {
    color: orangered;
}

/* .....nav bar responsive... */
@media screen and (max-width: 600px) {

    .menu-bar,
    .logo-title,
    nav {
        flex-direction: column;
        padding: 5px;
        justify-content: center;
        align-items: center;
        margin: 30px 0px;
    }

    .logo-img {
        width: 100px;
    }
}

body {
    margin: 0 400px;
    font-size: 20px;
}

.banner {
    background-image: url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
    padding-top: 150px;
    font-weight: 700;
    font-size: 28px;


}


.banner-des {
    font-weight: 500;
    font-size: 24px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 7px;

}

.find-now-btn {
    border: none;
    color: white;
    font-weight: 20px;
    background-color: orangered;

}

/* ...banner part responsive.... */
@media screen and (max-width: 600px) {

    .banner {
        flex-direction: column;
        width: 400px;
        margin: 0px 50px;
        font-size: 24px;
        justify-content: center;
        align-items: center;

    }

    input {
        padding: 10px;
    }
}

/* ................ */

/* ...Popular Tours section .... */

.popular-tour-section {
    display: flex;
    gap: 50px;
    margin-top: -300px;
}

.sec-title {

    font-size: 28px;
    font-weight: 700;
    margin: 20px 0px;
}

.popular-tours-point,
.popular-tours-point>li {
    padding: 10px 30px;
}

.btn {
    border: none;
    padding: 20px;
    border-radius: 5px;
    color: white;
    background-color: orangered;
    margin: 30px;
    font-size: 15px;
    font-weight: 500;
}

.popular-tours-img {
    width: 50%;
    height: 400px;
}

/* ...popular part responsive.... */
@media screen and (max-width: 600px) {

    .popular-tour-section {
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
    }

    .popular-tours-point,
    .popular-tours-point>li {
        padding: 5px;
    }

    .popular-tours-img {
        width: 300px;
        height: 400px;

    }
}

/* ...Choose your destination section.. */

.destination-choose-sec {
    text-align: center;
    margin: 200px 0px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.img-text {
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.first-row {
    display: flex;
    gap: 20px;
    padding: 15px;
    z-index: 2;
}

.second-row {
    display: flex;
    gap: 20px;
    padding: 15px;

}

.third-row {
    display: flex;
    gap: 20px;
    padding: 15px;
}

/* destination section responsive */
@media screen (max-width: 600px) {

    .first-row,
    .second-row,
    .third-row {
        flex-direction: column;
    }
}

/* .........Why Choose Us...... */
.boxes {
    display: flex;
    gap: 30px;
    margin: 100px 0px;


}

.box-1 {
    background-color: lightpink;
    border-radius: 10px;
    text-align: start;
    width: 50%;
    height: 200px;
    padding: 20px;
    border: 1px solid orangered;

}

.box-2 {
    background-color: lightskyblue;
    border-radius: 10px;
    text-align: start;
    width: 50%;
    height: 200px;
    padding: 20px;
    border: 1px solid lightseagreen;
}

.box-3 {
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    text-align: start;
    width: 50%;
    height: 200px;
    margin: 100px 300px;
    padding: 20px;
    border: 1px solid lightskyblue;
}

.icon-img {
    width: 100px;
    padding: 20px;
}

/*............ Newsletter part......... */

.newsletter {
    display: flex;
    gap: 50px;
    height: 450px;
}

.newsletter-title {
    font-size: 24px;
    font-weight: 700;
}

.subscribe-sec {
    border: 2px solid orangered;
    border-radius: 10px;
    padding: 50px;
    width: 100%;
}

.newsletter-des {
    margin: 20px 0px;
}

.input {
    background-color: lightgray;
    margin: 20px 0px;
    padding: 10px;
}

.subscribe-btn {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: orangered;
    color: white;
    width: 200px;
}

.travel-btn {
    border: none;
    padding: 20px;
    border-radius: 5px;
    color: white;
    background-color: orangered;
    font-size: 15px;
    font-weight: 500;
    width: 150px;
    margin-top: -400px;
    margin-left: 350px;
    transform: rotate(-30deg);
}

.travel-img {
    width: 100%;
    height: 450px;
}

/* ....relative section... */
.bonus-section {
    margin: 100px 0px;
}

.rating-des {
    font-size: 24px;
}

.rating-icon {
    display: flex;
    width: 30px;
    margin: 30px 0px;
}

/* ...............footer part............ */
.footer {
    text-align: center;
    margin: 300px 0px 0px;
    background-color: aliceblue;
}

.footer-logo-title {
    font-size: 28px;
    display: flex;
    margin: 80px 450px;
}

.footer-des {
    margin: 20px 0px;
}